<!DOCTYPE html>
<html>
  <head>
    <title>Passport</title>
  </head>
  <body>
    <h1>Access this site</h1>
    <button style="background-color:red"><a style="text-decoration: none; color:black; font-weight:bold" href="/register">Click to sign up</a></button>
    <br>
    <br>
    <button style="background-color:red"><a style="text-decoration: none; color:black; font-weight:bold" href="/login">Click to log in</a></button>
    <br>
    <br>
    <button style="background-color:red"><a style="text-decoration: none; color:black; font-weight:bold" href="/logout">Click to log out</a></button>
  </body>
</html>
