<!DOCTYPE html>
<html>
  <head>
    <title>Passport</title>
  </head>
  <body>
    <h1>You're logged in</h1>
    <p></p>
    <button style="background-color:red"><a style="text-decoration: none; color:black; font-weight:bold" href="/logout">Log out</a></button>
  </body>
</html>
